{% extends 'base.html' %}

{% block content %}

{% for par in pars %}
<p>
	<span style="color: gray">{{ par.author }}</span>
	{{ par.text }}
</p>
{% endfor %}

<h3>Продолжить рассказ</h3>

<form method="POST">
	{% csrf_token %}
	<input type="hidden" name="id" value="{{ id }}" />
	<div class="form-groupr">
		<label>Имя</label>
		<input type="text" name="author" />
	</div>
	<div class="form-group">
		<label>Текст продолжения</label>
		<textarea name="text" class=form-control rows="15"></textarea>
	</div>
	<button type="submit" name="button" value="add" class="btn btn-secondary">Добавить абзац</button>
	<button type="submit" name="button" value="write" class="btn btn-primary">Записать рассказ</button>
</form>

{% endblock %}
