{% extends 'base.html' %}

{% block content %}

{{ text }}

<h3>Продолжить рассказ</h3>

<form method="POST">
	{% csrf_token %}
	<input type="hidden" name="id" value="{{ id }}" />
	<div class="form-group">
		<label>Текст продолжения</label>
		<textarea name="text" class=form-control rows="15"></textarea>
	</div>
	<button type="submit" name="button" value="add" class="btn btn-secondary">Добавить абзац</button>
	<button type="submit" name="button" value="write" class="btn btn-primary">Записать рассказ</button>
</form>

{% endblock %}
